<nav>
    <div class="nav-container">
        <div class="logo">
            <a href="/index.html">
            Alice in Mafiaworld
            </a>
        </div>
        <div class="nav-links">
            <a href="/world.html">
            WORLD
            </a>
            <a href="/character.html">
            CHARACTER
            </a>
            <a href="/gallery.html">
            GALLERY
            </a>
            <a href="/about.html">
            ABOUT
            </a>
            <!-- LANGUAGE -->
            <div class="dropdown">
                <a class="dropbtn">
                LANGUAGE    
                </a>
               <ul class="sub-menu">
                    <li><a href="/">中文</a></li>
                    <li><a href="/">English(未实装)</a></li>
                    <li><a href="/">Français(未实装)</a></li>
                    <li><a href="/">日本語(未实装)</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>