<nav>
    <div class="nav-container">
        <div class="logo">
            <a href="/index.html">
            Alice in Mafiaworld
            </a>
        </div>
        <div class="nav-links">
            <a href="/world.html">
            WORLD
            </a>
            <a href="/character.html">
            CHARACTER
            </a>
            <a href="/gallery.html">
            GALLERY
            </a>
            <a href="/about.html">
            ABOUT
            </a>
        </div>
    </div>
</nav>